/* You can add global styles to this file, and also import other style files */
@import '~font-awesome/css/font-awesome.min.css';

body {
  padding-top: 92px;
  height: 100%;
}

.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

.applicationHost {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
}

th[sortable] {
  cursor: pointer;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
}

th[sortable].asc:before,
th[sortable].desc:before {
  content: '';
  display: block;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAAXNSR0IArs4c6QAAAmxJREFUeAHtmksrRVEUx72fH8CIGQNJkpGUUmakDEiZSJRIZsRQmCkTJRmZmJgQE0kpX0D5DJKJgff7v+ru2u3O3vvc67TOvsdatdrnnP1Y///v7HvvubdbUiIhBISAEBACQkAICAEhIAQ4CXSh2DnyDfmCPEG2Iv9F9MPlM/LHyAecdyMzHYNwR3fdNK/OH9HXl1UCozD24TCvILxizEDWIEzA0FcM8woCgRrJCoS5PIwrANQSMAJX1LEI9bqpQo4JYNFFKRSvIgsxHDVnqZgIkPnNBM0rIGtYk9YOOsqgbgepRCfdbmFtqhFkVEDVPjJp0+Z6e6hRHhqBKgg6ZDCvYBygVmUoEGoh5JTRvIJwhJo1aUOoh4CLPMyvxxi7EWOMgnCGsXXI1GIXlZUYX7ucU+kbR8NW8lh3O7cue0Pk32MKndfUxQFAwxdirk3fHappAnc0oqDPzDfGTBrCfHP04dM4oTV8cxr0SVzH9FF07xD3ib6xCDE+M+aUcVygtWzzbtGX2rPBrEUYfecfQkaFzYi6HjVnGBdtL7epqAlc1+jRdAap74RrnPc4BCijttY2tRcdN0g17w7HqZrXhdJTYAuS3hd8z+vKgK3V1zWPae0mZDMykadBn1hTQBLnZNwVrJpSe/NwEeDsEwCctEOsJTsgxLvCqUl2ACftEGvJDgjxrnBqkh3ASTvEWrIDQrwrnJpkB3DSDrGW7IAQ7wqnJtkBnLRztejXXVu4+mxz/nQ9jR1w5VB86ejLTFcnnDwhzV+F6T+CHZlx6THSjn76eyyBIOPHyDakhBAQAkJACAgBISAEhIAQYCLwC8JxpAmsEGt6AAAAAElFTkSuQmCC)
    0 0/19px no-repeat;
  background-position: top 2px left 0;
  width: 19px;
  height: 19px;
  float: left;
  margin-left: -19px;
}

th[sortable].desc:before {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  background-position: top -2px left 0;
}

th.sm {
  width:75px;
}

th.md {
  width:100px;
}

th.lg {
  width:125px;
}

th.xl {
  width:175px;
}

.btn-fw-sm {
  width: 75px;
}

.btn-fw-md {
  width: 100px;
}

.btn-fw-lg {
  width: 125px;
}

.btn-fw-lg {
  width: 175px;
}

.has-danger input,
.has-danger textarea {
  background-color: #e3c3c5;
}

.has-danger ::-webkit-input-placeholder {
  color: #999;
}

.has-danger ::-moz-placeholder {
  color: #999;
}

.has-danger :-moz-placeholder {
  color: #999;
}

.has-danger :ms-input-placeholder {
  color: #999;
}